@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}


span{
    font-size: 24px;
    color: #1E0E62;
    font-weight: bold;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    font-size: 18px;
}

a{
    text-decoration: none;
}


.btn1{
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.btn2{
    padding: 0.5rem 1.5rem;
    border-radius: 200px;
    cursor: pointer;
}

/* End of header section */


/* Hero section */

.hero-section{
    display: flex;
    flex-direction:column;
    align-self: center;
    justify-self: center;
    margin-top: 5rem;
}

.hero-section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 4rem;
}

.hero-section1 h1{
    font-size: 50px;
    color: #1E0E62;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section1 button{
    font-size: 18px;
    background-color: #25DAC5;
    padding: 1rem 3rem;
    border: none;
    border-radius: 200px;
    color: #fff;
}


.hero-section2{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 60px 40px;
    max-width: 1200px;
    margin: auto;
}

.paragraph{
    display: flex;
    text-align: center;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.paragraph:not(:last-child){
    border-right: 1px solid #15143966;
}