@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'dm sans', sans-serif;
}

a{ text-decoration : none;
}


ul{
    color: red;
    list-style: none;
    padding: 30px 0;
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
}
a:hover{ color: red;}